@import url("./reset.css");

body {
  overflow: hidden;
}
body video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

body main {
  position: absolute;
  color: white;
  width: 100vw;
  text-align: center;
  top: 5rem;
  left: 0;
  font-weight: 700;
  font-size: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
body main a {
  text-decoration: none;
  color: white;
  margin-top: 10rem;
  width: fit-content;
  padding: 30px 10px;

  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;

  transition: all 1s;
}

body main a:hover {
  border: 3px solid black;
  padding: 30px 10px;
  border-radius: 50%;
}
